body{
  font-family: Arial, sans-serif;
  background-color: #b6acac;
  margin: 0;
  padding: 0;
}

.card{
  width: 400px;
  background-color:#ab9153;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
  text-align: center;
  display: inline-block;
}
.card img{
  /* width: 150px; */
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
}