body{
    background-color: rgb(27, 27, 27);
}
p{
    padding: 4px;
    color: hsl(214, 91%, 51%);
    background-color: bisque;
    display: inline-block;
}
h1{
padding: 4px;
    color: hsl(116, 25%, 39%);
    background-color: rgb(196, 217, 255);
    display: inline-block;
}
